# Unique name for this workflow
name: CI

# Definition when the workflow should run
on:
  repository_dispatch:
    types: [create]

# Jobs to be executed
jobs:
    create:
        runs-on: ubuntu-latest
        steps:
            # Install Salesforce CLI
            - name: Install Salesforce CLI
              run: |
                  wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
                  mkdir sfdx-cli
                  tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
                  ./sfdx-cli/install

            # Authenticate dev hub
            - name: 'Clear folder'
              run: 'rm -r *'
              
            # Checkout the code in the pull request
            - name: 'Checkout source code'
              run: 'git clone https://github.com/douglascayers-org/sfdx-mass-action-scheduler.git .'

            # Store secret for dev hub
            - name: 'Populate auth file with DEVHUB_SFDX_URL secret'
              shell: bash
              run: 'echo ${{ secrets.DEVHUB_SFDX_URL}} > ./DEVHUB_SFDX_URL.txt'

            # Authenticate dev hub
            - name: 'Authenticate Dev Hub'
              run: 'sfdx force:auth:sfdxurl:store -f ./DEVHUB_SFDX_URL.txt -a devhub -d'

            # Create scratch org
            - name: 'Create scratch org'
              run: 'sfdx force:org:create -f  config/project-scratch-def.json -a GitAuto -s -d 1'

            # Deploy source to scratch org
            - name: 'Push source'
              run: 'sfdx force:source:push'

            # Run Apex tests in scratch org
            - name: 'Run Apex tests'
              run: 'sfdx force:user:password:generate'
              
            # Run 
            - name: 'Get user details'
              run: 'sfdx force:user:display'
