# Unique name for this workflow
name: CI

# Definition when the workflow should run
on:
  repository_dispatch:
    types: [create]

# Jobs to be executed
jobs:
    create:
        runs-on: ubuntu-latest
        steps:
            # Install Salesforce CLI
            - name: Install Salesforce CLI
              run: |
                  wget https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
                  mkdir sfdx-cli
                  tar xJf sfdx-linux-amd64.tar.xz -C sfdx-cli --strip-components 1
                  ./sfdx-cli/install

            # Authenticate dev hub
            - name: 'Clear folder'
              run: 'rm -r *'
              
            # Checkout the code in the pull request
            - name: 'Checkout source code'
              run: 'git clone https://github.com/douglascayers-org/sfdx-mass-action-scheduler.git .'

            # Store secret for dev hub
            - name: 'Populate auth file with DEVHUB_SFDX_URL secret'
              shell: bash
              run: 'echo ${{ secrets.DEVHUB_SFDX_URL}} > ./DEVHUB_SFDX_URL.txt'

            # Authenticate dev hub
            - name: 'Authenticate Dev Hub'
              run: 'sfdx force:auth:sfdxurl:store -f ./DEVHUB_SFDX_URL.txt -a devhub -d'

            - name: Get current date
              id: date
              run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    
            # Run 
            - name: 'Get user details'
              id: org
              run:  echo "::set-output name=SF_ORG::$(sfdx)"
                
            - name: 'Show user details'
              run: echo $env.SF_ORG
              
            - name: 'Show user details 2'
              run: echo ${{steps.org.outputs.org}}

            # Notify slack
            - name: Notify slack
              env:
                SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
              uses: pullreminders/slack-action@master
              with:
                args: '{\"channel\":\"G0143CNFEUW\",\"text\":\"Build Date: ${{steps.date.outputs.date}} for commit ${{github.sha}}\n${{steps.org.outputs.org}} $(echo $env.SF_ORG)\"}'
              
